@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid gold; */
  font-family: "Mukta", Arial, sans-serif;
}
*::selection{
  background-color: burlywood;
  color: #111111;
}

body {
  padding: 50px;
  background-color: #ffffdd;
}

p:last-of-type{
  font-style: italic;
  font-weight: bold;
}
a {
  color: black;
}

div.card, .container {
  margin: 0 auto;
  padding: 30px;
  width: fit-content;
  max-width: 700px;
  word-wrap: break-word;
  border: 1px solid gold;
  border-radius: 15px;
  background-color: #ffffee;
}

/* ._send {
  display: inline-block;
  background: #e8e9ad;
  border: 1px solid gold;
  text-decoration: none;
  padding: 10px;
  margin-right: 10px;
  font-size: large;
  border-radius: 5px;
}

._send:hover, ._send:focus {
  cursor: pointer;
  background: gold;
} */

/* styles form W3schools for a contact form */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(212, 202, 134);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/* back button imported css */

.back, input[type=submit], ._send {
  display: inline-block;
  background-color: #e8e9ad;
  text-decoration: none;
  border: 1px solid gold;
  padding: 10px;
  margin: 4px;
  font-size: large;
  border-radius: 4px;
}

.back:hover, .back:focus, ._send:hover, ._send:focus, input[type=submit]:hover, input[type=submit]:focus {
  cursor: pointer;
  background: gold;
}
hr {
  height: 1px;
  background-color: gold;
  border: none;
}
