<!-- NO BLOG PAGE YET -->
<% include header %>
<div class="container">
    <% include menu %>
    <h1><%= title %></h1>
    <form action="/blog" method="POST">
    <label for="Title">Title</label>
    <input type="text" name="title" placeholder="Enter a title">
    <br><label for="Body">Body</label>
    <input type="text" name="data" placeholder="Enter some content">
    <br>
    
    </form>
</div>