<% include header %>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to LION (light-hearted mode on)</h2>
    <p><%= desc %> <%= title %></p><br>
    <p>This is temporary styling. Colours to be changed</p>
    <br>
    <span><a href="./weather" class="_send">Check the weather</a></span><span><a href="./loginform" class="_send">Check this custom Login form</a>Checkboxes are not displayed properly in Firefox.</span><br>
    <br>
    <!-- <button class="_send" type="button">empty button</button>
    <button class="_send" type="button">another one</button> -->


  </body>
</html>
