<%- partial('./header.ejs') %>
<div class="jumbotron">
    <h1 class="display-3">Sails.JS - Authentication</h1>
    <hr class="my-2">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
        <a class="btn btn-success btn-lg" href="/register" role="button">Register</a>
    </p>
</div>
<%- partial('./footer.ejs') %>

