<%- partial('./header.ejs') %>
<h2>Register</h2>
<form action="/register" method="post">
    <div class="form-group">
        <label for="username">Choose a Username</label>
        <input name="username" class="form-control" type="text" placeholder="@username" />
    </div>

    <label for="password">Choose a Password</label>
    <input name="password" class="form-control" type="password"/>

    <input class="btn btn-primary" type="submit" value="Register"/>
</form>
<%- partial('./footer.ejs') %>
