<% include header %>
  <body>
    <div class="card">
    <h1> <%= title %>.</h1>
    <h2> <%= desc %></h2>
    <!-- <p>This is temporary styling. Colours to be changed</p> -->
    <br>
    <span><a href="./blog" class="_send">Write your thoughts</a></span><span><a href="./contact" class="_send">Upload your img</a>And add some contact details</span><br>
    <br>
    <button class="_send" type="button">empty button</button>
    <button class="_send" type="button">another one</button>
  </div>


  </body>
</html>